<h1>{{title}}</h1>
<p>Hello {{title}}</p>

<form method="post">
  <input name="number" value="{{number}}">
  <input value="{{result}}">
  <br>
  <input name="firstNumber" value="{{firstNumber}}">
  <br>
  <input name="secondNumber" value="{{secondNumber}}">
    <br>
  <input type="radio" name="gender" value="cong">  
  <input type="radio" name="gender" value="tru">
  <input type="radio"  name="gender" value="nhan">  
  <input type="radio" name="gender" value="chia">
  <br>
  <input value="{{mainResult}}">
  <input type="submit" value="Square">
</form>
    








