<h1>{{title}}</h1>
<p>Hello {{title}}</p>

<form method="post">
  <input name="number" value="{{number}}">
  <input value="{{result}}">
  <br>
  <input name="firstNumber" value="{{firstNumber}}">
  <br>
  <input name="secondNumber" value="{{secondNumber}}">
    <br>
  <input type="radio" name="gender" value="100">  
  <input type="radio" name="gender" value="200">
  <input type="radio"  name="gender" value="300">  
  <input type="radio" name="gender" value="400">
  <br>
  <input value="{{mainResult}}">
  <input type="submit" value="Square">
</form>
    








